<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Home</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" >




        <ion-card>
            <ion-item>
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label>Your Bike</ion-label>
                <ion-button fill="outline" slot="end" routerLink="/controlcenter/tabs/details">More</ion-button>
              </ion-item>
          
          <ion-img width="20" height="20"
            src="assets\images\Goodyear-Ego-2-1-1.jpg">
          </ion-img>
        </ion-card>

      </ion-col>

        <ion-col size-md="4" >



        <ion-card>
            <ion-item>
                <ion-icon name="map" slot="start"></ion-icon>
                <ion-label>Your Destination</ion-label>
                <ion-button fill="outline" slot="end" routerLink="/controlcenter/tabs/map">More</ion-button>
              </ion-item>

            <ion-fab right top>
                <ion-icon name="pin" slot="start"></ion-icon>
            </ion-fab>
            <img src="assets\images\Screenshot_16.jpg">

            <ion-item>
              <ion-icon name="football" slot="start"></ion-icon>
              <h3>Museum</h3>
              <p>11 N. Way St</p>
            </ion-item>
          
            <ion-item>
              <ion-icon name="wine" slot="start" ></ion-icon>
              <h3>Cocktails</h3>
              <p>14 S. Hop Avenue</p>
            </ion-item>
          
            <ion-item>
              <span item-start>18 min</span>
              <span item-start>(2.6 km)</span>
              <ion-button fill="outline" slot="start" routerLink="/controlcenter/tabs/map">Go</ion-button>
            </ion-item>
          </ion-card>

        </ion-col>
        
        <ion-col size-md="4">

        <ion-card>
            <ion-item>
              <ion-icon name="stats" slot="start"></ion-icon>
              <ion-label>Your Stats</ion-label>
              <ion-button fill="outline" slot="end" routerLink="/controlcenter/tabs/diagnostics">More</ion-button>
            </ion-item>
  
            <ion-card-content>
                These statistics are based on your activity with the Ebike
            </ion-card-content>
            <ion-card-content>
                <ion-img src="assets\images\line-graph.png"></ion-img>
              </ion-card-content>
          </ion-card>
     
     
        <ion-card>
          <ion-item href="#" class="activated">
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>Card Link Item 1 .activated</ion-label>
          </ion-item>

          <ion-item href="#">
            <ion-icon name="wine" slot="start"></ion-icon>
            <ion-label>Card Link Item 2</ion-label>
          </ion-item>

          <ion-item class="activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Card Button Item 1 .activated</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Card Button Item 2</ion-label>
          </ion-item>
        </ion-card>

    </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>